---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Agosto 2023 - Actualmente...",
    title: "Desarrollador de software",
    company: "Tecnológico Comfenalco",
    description:
      "Desarrollador de software con enfasis en aplicaciones web usando laravel, encargado de modulos de seguridad y autenticación de usuarios entre otros.",
    link: "https://tecnologicocomfenalco.edu.co/",
  },
  {
    date: "Enero 2022 - Diciembre 2022",
    title: "Programador Junior",
    company: "MisionTic",
    description:
      "Durante el período de Misión TIC 2022, tuve el privilegio de participar como uno de los más de 4825 tripulantes provenientes de diversos municipios del país. Este programa, impulsado por el Gobierno Nacional, representó una oportunidad invaluable para adentrarme en el mundo de la programación. A lo largo de tres ciclos de formación en programación básica, adquirí conocimientos fundamentales en lenguajes y técnicas clave.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
